# vim:set filetype=sh :

# Environment
PUBLIC_ENVIRONMENT=xxx

# Database
DATABASE_URL=xxx

# Auth
AUTH_SECRET=xxx
AUTH_PORT=xxx
AUTH_BASE_URL=xxx
BETTER_AUTH_BASE_URL=xxx

# Google
GOOGLE_USER=xxx
GOOGLE_CLIENT_ID=xxx
GOOGLE_CLIENT_SECRET=xxx
GOOGLE_REFRESH_TOKEN=xxx
NO_REPLY_EMAIL=xxx

# Storage
STORAGE_PUBLIC_URL=xxx
STORAGE_BUCKET_NAME=xxx
STORAGE_ENDPOINT=xxx
STORAGE_ACCESS_KEY_ID=xxx
STORAGE_SECRET_ACCESS_KEY=xxx

# Site
PUBLIC_SITE_URL=xxx
